{% extends "AstraSharedBundle:MyProfile:layout.html.twig" %}
{% form_theme form 'Form/base_style.html.twig' %}
{% block title %}{{ 'myProfile.name' | trans }}{% endblock %}
{% block caption %}{{ 'myProfile.name' | trans }}{% endblock %}
{% block body_content %}
    {{ form_start(form, {'method': 'post', 'action': '', 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="reset">{{ 'form.doReset' | trans }}</button>
                <button class="btn btn-primary" type="submit">{{ 'form.doSave' | trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}