{% extends 'body_main.html.twig' %}
{% form_theme form 'Form/base_style.html.twig' %}
{% block title %}{{ 'config.users.edit.editTitle' | trans }}{% endblock %}
{% block caption %}{{ 'config.users.edit.editTitle' | trans }}{% endblock %}
{% block body %}
    {{ form_start(form, {'method': 'post', 'action': '', 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <a class="btn btn-white" href="{{ url('astra_shared_config_users_index') }}">{{ 'form.doBack' | trans }}</a>
            <button class="btn btn-primary" type="submit">{{ 'form.doSave' | trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}