{% extends 'body_main.html.twig' %}

{% block title %}{{ 'config.userRoles.index.title' | trans }}{% endblock %}
{% block caption %}{{ 'config.userRoles.index.title' | trans }}{% endblock %}
{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="text-right">
                                <a href="{{ path('astra_shared_config_roles_add') }}" type="button" class="btn btn-primary btn-sm">{{ 'config.userRoles.index.addNewButton' | trans }}</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'config.userRoles.entity.name' | trans }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td>{{ role.name }}</td>
                                        <td class="text-right"><a onclick="return confirm('{{ 'config.userRoles.index.confirmRemoveItem' | trans }}');" class="btn btn-danger btn-xs" href="{{ path('astra_shared_config_roles_delete', {'id':role.id}) }}">{{ 'config.userRoles.index.removeItem'|trans }}</a> </td>
                                        <td class="text-right"><a class="btn btn-primary btn-xs" href="{{ path('astra_shared_config_roles_edit', {'id':role.id}) }}">{{ 'config.userRoles.index.editItem'|trans }}</a> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
